@tailwind base;
@tailwind components;
@tailwind utilities;

body.dragging {
  cursor: grabbing !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #601111;
  }
} */

/* @layer base {
  body {
    @apply dark:text-gray-200 dark:bg-neutral-900;
  }
} */